@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

// ---------------------------------------------------------------------------------------------------------------------
// Reset

*, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// ---------------------------------------------------------------------------------------------------------------------
// Variables

:root {
  --col-bg-main: #202124;
  --col-txt-main: #fff;
  --col-txt-muted: #666;
  --col-txt-muted-light: #ececec;
  --col-saber-left: #e5a300;
  --col-saber-right: #cf0389;
  --col-blue: #0078d4;
  --col-green: #2ecc71;
  --col-green-dark: #27ae60;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

// ---------------------------------------------------------------------------------------------------------------------
// Page

html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  font-weight: var(--font-weight-regular);
  background: var(--col-bg-main);
  color: var(--col-txt-main);
}

// ---------------------------------------------------------------------------------------------------------------------
// Typography core

a {
  color: var(--col-blue);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

// ---------------------------------------------------------------------------------------------------------------------
// Layout core

.container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  padding: 1.5rem;
  width: 100%;
  max-width: 1300px;
}

// ---------------------------------------------------------------------------------------------------------------------
// Layout core - imports

@import "scss/header";

// ---------------------------------------------------------------------------------------------------------------------
// Component imports

@import "scss/components/btn";
@import "scss/components/face";
@import "scss/components/fancy-table-test";
@import "scss/components/hero";

// ---------------------------------------------------------------------------------------------------------------------
// Page imports

// TODO