@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

// ---------------------------------------------------------------------------------------------------------------------
// Reset

*, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// ---------------------------------------------------------------------------------------------------------------------
// Variables

:root {
  --col-bg-main: #202124;
  --col-bg-darker: #19191a;
  --col-bg-darkest: #131314;
  --col-txt-main: #fff;
  --col-txt-muted: #666;
  --col-txt-muted-medium: #888;
  --col-txt-muted-mediumlight: #ccd0d0;
  --col-txt-muted-light: #ececec;
  --col-saber-left: #e5a300;
  --col-saber-right: #cf0389;
  --col-blue: #0078d4;
  --col-blue-dark: #0984e3;
  --col-green: #2ecc71;
  --col-green-dark: #27ae60;
  --col-red: #e74c3c;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

// ---------------------------------------------------------------------------------------------------------------------
// Page

html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-anchor: none;
}
html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  font-weight: var(--font-weight-regular);
  background: var(--col-bg-main);
  color: var(--col-txt-main);
}

// ---------------------------------------------------------------------------------------------------------------------
// Typography core

::selection {
  background: var(--col-saber-left);
  color: var(--col-txt-main);
}

a {
  color: var(--col-blue-dark);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

abbr {
  text-decoration: none;
  border-bottom: 1px dotted #444;
  cursor: help;
}

.difficulty-txt {
  &.-d0 {
    color: #3cb371;
  }
  &.-d1 {
    color: #59b0f4;
  }
  &.-d2 {
    color: #ff6347;
  }
  &.-d3 {
    color: #bf2a42;
  }
  &.-d4 {
    color: #8f48db;
  }
  &.-unknown {
    opacity: .666;
  }
}

.vanilla-version {
  opacity: .5 !important;
}
.mp-core-version {
  color: #2ecc71 !important;
}
.mp-ex-version {
  color: #9b59b6 !important;
}

// ---------------------------------------------------------------------------------------------------------------------
// Layout core

.turbo-progress-bar {
  height: 3px;
  background-color: var(--col-saber-right);
  box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
}

#content-inner {
  min-height: calc(100vh - 328px);
}

.container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  padding: 1.5rem;
  width: 100%;
  max-width: 1300px;
}

// ---------------------------------------------------------------------------------------------------------------------
// Layout core - imports

@import "scss/header";
@import "scss/footer";

// ---------------------------------------------------------------------------------------------------------------------
// Component imports

@import "scss/components/alert";
@import "scss/components/block";
@import "scss/components/btn";
@import "scss/components/check-switch";
@import "scss/components/content-head";
@import "scss/components/cover-art";
@import "scss/components/face";
@import "scss/components/hero";
@import "scss/components/level-tags";
@import "scss/components/news-timeline";
@import "scss/components/page-tabs";
@import "scss/components/paginator";
@import "scss/components/rounded-table";

// ---------------------------------------------------------------------------------------------------------------------
// Page imports

@import "scss/pages/download-page";
@import "scss/pages/frontpage-servers";
@import "scss/pages/game-detail";
@import "scss/pages/guide-page";
@import "scss/pages/player-profile";
@import "scss/pages/results-detail";
@import "scss/pages/stats-page";
@import "scss/pages/text-page";
@import "scss/pages/user-settings";