body {
  padding-top: 5rem;
}

.main-page {
  padding: 0 1.5rem;

  .card {
    margin-bottom: 1.5rem;
  }
}
.content-page {
  padding: 0 1.5rem;

  h1 {
    font-size: 1.75rem;
  }
  h2 {
    font-size: 1.6rem;
  }
}

table small {
  font-size: 13px;
  opacity: .75;
}

.navbar.bg-dark {
  background-color: #343A40 !important;
}

.navbar-brand {
  font-weight: 700;
  margin-top: -2px;

  span:first-child {
    color: #e5a300;
  }
  span:last-child {
    color: #cf0389;
  }
}

td.cover-art-cell {
  padding: 0;
  position: relative;
  user-select: none;
  overflow: hidden;

  &, > img, > span {
    background-color: #ddd;
    height: 48px;
    width: 48px;
  }
  > img, > span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  > span {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #666;
    font-weight: 600;
    font-size: 16px;
    opacity: .5;
  }
  > img {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
}

td.no-results-cell {
  text-align: center;
  vertical-align: middle;
  padding: 30px 0;
  font-size: 110%;
  opacity: .75;
  font-weight: 500;
}

// ---------------------------------------------------------------------------------------------------------------------
// Game detail

.game-detail {
  .server-code {
    font-size: 1.75rem;
    font-family: monospace;
    user-select: all;
    letter-spacing: 5px;
  }
}

// ---------------------------------------------------------------------------------------------------------------------
// Game detail

.difficulty-txt {
  &.-d0 {
    color: #3cb371;
  }
  &.-d1 {
    color: #59b0f4;
  }
  &.-d2 {
    color: #ff6347;
  }
  &.-d3 {
    color: #bf2a42;
  }
  &.-d4 {
    color: #8f48db;
  }
  &.-unknown {
    opacity: .666;
  }
}

// ---------------------------------------------------------------------------------------------------------------------
// Footer

footer {
  margin-top: 3rem;
  border-top: 1px solid #efefef;
}
.footer-actual {
  padding: 1.5rem;
  font-size: 90%;
  display: flex;
  flex-direction: column;
  color: #666;

  > div {
    margin-bottom: 1rem;

    &:first-child {
      opacity: 1.0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}