<td class="cover-art-cell">
    {% if coverUrl %}
        <img src="{{ coverUrl }}" alt="{{ altText }}" title="{{ altText }}" height="25" class="cover-art" loading="lazy"/>
    {% else %}
        {% if levelId %}
            <div class="cover-art dummy-cover-art">
                <i class="mdi mdi-music"></i>
            </div>
        {% else %}
            <div class="cover-art dummy-cover-art">
                <i class="mdi mdi-new-box"></i>
            </div>
        {% endif %}
    {% endif %}
</td>