{% if size is not defined %}
    {% set size = "sm" %}
{% endif %}

{% if skinColorId is not defined %}
    {% set skinColorId = "Alien" %}
{% endif %}

{% if eyesId is not defined %}
    {% set eyesId = "QuestionMark" %}
{% endif %}

<div class="face -size-{{ size }} -skin-{{ skinColorId }}">
    <div class="eyes -{{ eyesId }}"></div>
</div>