{% if paginationBaseUrl and paginator and paginator.pageCount > 1 %}
    <div class="paginator">

        {% if paginator.pageIndex > 0 %}
            <a class="page page-back" href="{{ paginationBaseUrl|with_query_param("page", paginator.pageIndex) }}">
                <i class="mdi mdi-chevron-left"></i>
            </a>
        {% else %}
            <a class="page page-back -dummy">
                <i class="mdi mdi-chevron-left"></i>
            </a>
        {% endif %}

        {% for i in 0..(paginator.pageCount - 1) %}
            <a class="page page-numbered {% if paginator.pageIndex == i or (i == 0 and paginator.pageIndex <= 0) %}-active{% endif %}"
               href="{{ paginationBaseUrl|with_query_param("page", i + 1) }}">
                <span>{{ i + 1 }}</span>
            </a>
        {% endfor %}

        {% if paginator.pageCount > (paginator.pageIndex + 1) %}
            <a class="page page-back" href="{{ paginationBaseUrl|with_query_param("page", paginator.pageIndex + 2) }}">
                <i class="mdi mdi-chevron-right"></i>
            </a>
        {% else %}
            <a class="page page-back -dummy">
                <i class="mdi mdi-chevron-right"></i>
            </a>
        {% endif %}

    </div>
{% endif %}