.alert {
  display: flex;
  width: 100%;
  align-items: center;
  text-align: left;
  margin: 1.5rem 0;
  padding: 1.5rem;
  background: #7f409a;
  color: var(--col-txt-main);
  border-radius: 6px;
  font-weight: var(--font-weight-medium);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1);

  &.-minor {
    background: #34495e;
  }

  a {
    color: var(--col-txt-main);
    text-decoration: underline;
  }

  i:first-child, img:first-child {
    margin-right: 1rem;
  }
  strong {
    font-weight: var(--font-weight-medium);
  }
  p {
    color: var(--col-txt-muted-light);
    font-weight: var(--font-weight-regular);
  }
}