<footer>
    <div class="container-fluid">
        <div class="footer-actual">
            <div>
                <a href="/privacy">Privacy policy</a>
                ▪
                <a href="https://updown.io/zusl" target="_blank">Server status</a>
            </div>
            <div>
                Beat Saber Server Browser<br />
                <small>
                    by <a href="https://roydejong.net" target="_blank">LookAtHippo#1213</a> and
                    <a href="https://github.com/roydejong/BeatSaberServerBrowser/graphs/contributors" target="_blank">contributors</a>
                </small><br />
                <br />
                <small>Beat Saber, Beat Games and their respective logos are registered trademarks of Beat Games.<br />
                    This site and service is not affiliated with Beat Games in any way.</small>
            </div>
        </div>
    </div>
</footer>