<footer>
    <div class="container-fluid">
        <div class="footer-actual">
            <div>
                <a href="/privacy" title="Privacy policy for the Server Browser mod">Privacy policy</a>
                ▪
                <a href="https://updown.io/zusl" title="Server Status for bssb.app" target="_blank">Server status</a>
                ▪
                <a href="https://github.com/roydejong/bssb.app" target="_blank" title="View bssb.app code on GitHub">Source code</a>
            </div>
            <div>
                Beat Saber Server Browser<br />
                <small>
                    by <a href="https://roydejong.net" target="_blank">LookAtHippo#0001</a> and
                    <a href="https://github.com/roydejong/BeatSaberServerBrowser/graphs/contributors" target="_blank">contributors</a>
                </small><br />
                <small>Version {{ version_hash_short }} ({{ version_date|date('Y-m-d H:i') }})</small>
                <br /><br />
                <small>Beat Saber, Beat Games and their respective logos are registered trademarks of Beat Games.<br />
                    This site and service is not affiliated with Beat Games in any way.</small>
            </div>
        </div>
    </div>
</footer>