{% extends "_base.twig" %}

{% if not pageTitle %}
    {% set pageTitle = 'Error' %}
{% endif %}
{% set noIndex = 1 %}

{% block main %}
    <main role="main" class="container-fluid">
        <div class="content-page">

            <div class="alert alert-danger">{{ message|nl2br }}</div>

            <a href="/">Back to homepage</a>

        </div>
    </main>
{% endblock %}