{% extends "_base.twig" %}

{% set tab = "home" %}

{% block main %}
<main role="main" class="container-fluid">
    <div class="main-page">

        <h1>Beat Saber Server Browser</h1>
        <p class="lead">A Beat Saber modification that adds a server browser to multiplayer (PC only currently).</p>

        {% if not isFiltered %}
            <div id="mod-card" class="card" style="width: 375px;">
                <a class="close" id="mod-card-close" title="Dismiss promo card"><i class="mdi mdi-close"></i></a>
                <img src="/static/stuff/browser_v3.png" class="card-img-top"/>
                <div class="card-body">
                    <h5 class="card-title">Download the mod to:</h5>
                    <ul>
                        <li>Add your games to the server browser</li>
                        <li>Browse and join from within the game</li>
                    </ul>
                    <a class="btn btn-success" target="_blank" href="https://github.com/roydejong/BeatSaberServerBrowser/releases/latest">
                        <i class="mdi mdi-download"></i>
                        <span>Download</span>
                    </a>
                    <a class="btn btn-primary" target="_blank" href="https://github.com/roydejong/BeatSaberServerBrowser/blob/master/README.md">
                        <i class="mdi mdi-book-open-variant"></i>
                        <span>README</span>
                    </a>
                </div>
            </div>
        {% endif %}

        {% if serverMessage is defined and serverMessage|length > 0 %}
            <div class="alert alert-danger alert-dismissible">
                <h6><i class="mdi mdi-alert"></i> Live notice</h6>
                <span>{{ serverMessage }}</span>
            </div>
        {% endif %}

        {% include "bits/game_query_filters.twig" %}

        {% include "tables/hosted_games_table.twig" %}

    </div>
</main>
{% endblock %}

{% block scripts %}
<script>$(function () {
  let modCard = $('#mod-card');
  if (localStorage.getItem("dismiss-mod-card")) {
    modCard.hide();
  }
  $('#mod-card-close').click((e) => {
    e.preventDefault();
    localStorage.setItem("dismiss-mod-card", "yeah");
    modCard.hide();
    return false;
  });
})</script>
{% endblock %}