<!doctype html>
<html lang="en">
<head>
    <meta charset="utf8"/>
    <title>Beat Saber Server Browser - BSSB</title>
</head>
<body>

    <h1>Beat Saber Server Browser</h1>
    <p>👋 Hello world. Things here. Soon.</p>

</body>
</html>
