<!doctype html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8"/>
</head>
<body>
<form action="" method="post">
    <input type="hidden" name="openid.identity" value="http://specs.openid.net/auth/2.0/identifier_select">
    <input type="hidden" name="openid.claimed_id" value="http://specs.openid.net/auth/2.0/identifier_select">
    <input type="hidden" name="openid.ns" value="http://specs.openid.net/auth/2.0">
    <input type="hidden" name="openid.mode" value="checkid_setup">
    <input type="hidden" name="openid.realm" value="https://localhost/">
    <input type="hidden" name="openid.return_to" value="https://localhost/login/Example.php">
    <input type="image" name="submit" src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_01.png" border="0" alt="Submit">
</form>
</body>
</html>