<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="https://bssb.app" title="BSSB"><span>BS</span><span>SB</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if tab == "home" %}active{% endif %}">
                    <a class="nav-link" href="/"><i class="mdi mdi-home"></i> Home {% if tab == "home" %}<span class="sr-only">(current)</span>{% endif %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/roydejong/BeatSaberServerBrowser" target="_blank"><i class="mdi mdi-github"></i> GitHub</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/roydejong/BeatSaberServerBrowser/releases/latest" target="_blank"><i class="mdi mdi-download-outline"></i> Download</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="mdi mdi-discord"></i> Discord</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="https://discord.com/invite/gezGrFG4tz" target="_blank">BeatTogether</a>
                        <a class="dropdown-item" href="https://discord.gg/beatsabermods" target="_blank">Beat Saber Modding Group</a>
                    </div>
                </li>
                <li class="nav-item dropdown {% if tab == "stats" %}active{% endif %}">
                    <a class="nav-link dropdown-toggle" href="/stats" target="_self" title="Statistics" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="mdi mdi-chart-bar"></i> Stats {% if tab == "stats" %}<span class="sr-only">(current)</span>{% endif %}</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown02">
                        <a class="dropdown-item" href="/stats"><strong>Stats Overview</strong></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/stats/top/custom-levels">Top 100 Custom Levels</a>
                        <a class="dropdown-item" href="/stats/top/official-levels">Top 100 Official Levels</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/master-servers">Master Server List</a>
                        <a class="dropdown-item" href="/dedicated-servers">Dedicated Server List</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/stats/top/non-beatsaver-levels">Top 100 Non Beat Saver Levels</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="darkSwitch" />
            <label class="custom-control-label" for="darkSwitch">Dark Mode</label>
        </div>
    </div>
</nav>