<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Oh no! BSSB is on fire</title>
    <link href="/static/bssb.css?v={{ version_hash_short }}" rel="stylesheet">
    {% if noIndex %}
        <meta name="robots" content="noindex, follow">
    {% endif %}
</head>
<body>

<div id="ohno">
    <div class="block">
        <div class="icon">
            <i class="mdi mdi-fire-alert"></i>
        </div>
        <h1>Oh no!</h1>
        <p>We're sorry, something is horrifically broken and this page is not working right now.</p>
        <p>You can try returning to the <a href="/">homepage</a>. If you need help, you can reach us at <a href="mailto:help@bssb.app">help@bssb.app</a>.</p>
    </div>
</div>

<link rel="stylesheet" href="/static/vendor/materialdesignicons.min.css">

</body>
</html>