{% extends "_base.twig" %}

{% set pageTitle = 'Privacy Policy' %}

{% block main %}
    <main role="main" class="container-fluid">
        <div class="content-page">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Server Browser</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Statistics</li>
                </ol>
            </nav>

            <div class="privacy-page">

                <h1>Privacy Policy</h1>
                <p class="lead">Last updated: June 15th, 2021</p>
                <hr />

                <p class="lead">When you visit our website or use the game modification, we collect data. Collected data may be shown publicly to make the Server Browser possible, if you choose to share it.</p>

                <h2>Data we collect</h2>
                <p>This is an overview of the data we may collect, depending on your use of the service:</p>
                <p><strong>If you visit the <a href="https://bssb.app" target="_blank">bssb.app</a> website or use the game modification to access its services:</strong></p>
                <ul>
                    <li>Basic log information: your IP address, user agent, and which requests are sent to our server</li>
                </ul>
                <p><strong>If you install the <a href="https://github.com/roydejong/BeatSaberServerBrowser" target="_blank">game modification</a>, the following information may be collected and sent to our servers:</strong></p>
                <ul>
                    <li>Version information about, the game, game modifications you have installed, and the platform you are playing on</li>
                    <li>Basic profile information from the third party game service you are using (e.g. Steam, Oculus); like username and unique ID</li>
                    <li>Game data, such as which level you are playing and who you are playing it with</li>
                    <li>Connection metadata, such as the servers you play on and the codes needed to connect to it</li>
                </ul>
                <p>You can disable data collection within the game modification at any time by choosing not to share your servers.</p>

                <h2>How we use your data</h2>
                <p>Your data is only used to facilitate the server browser's functionality, specifically:</p>
                <ul>
                    <li>
                        To provide you and other users with the Server Browser service
                    </li>
                    <li>
                        To publicly <a href="/" target="_blank">display game information</a> and <a href="/stats" target="_blank">statistics</a>, should you choose to share it
                    </li>
                    <li>
                        To perform basic, generalised analysis on how users interact with our service so we can monitor and improve it
                    </li>
                </ul>

                <h2>Data retention</h2>
                <p>All collected data may be retained on our server for up to one month, or as long as is needed for the purposes set out in this policy.</p>

                <h2>Data transfer and disclosure</h2>
                <ul>
                    <li>Game, profile and connection information is publicly displayed and disclosed, and as such, may be transferred to other regions.</li>
                    <li>Sensitive information like your IP address is only used for analytical and operational purposes and won't be shared with any third-parties.</li>
                    <li>We work with third parties to provide some of our services. For example, our third-party providers provide web hosting services. These providers are bound by their privacy policies to safeguard that data.</li>
                </ul>

                <h2>Changes to this policy</h2>
                <p>We will update this privacy policy as needed so that it is current, accurate, and as clear as possible. Your continued use of our services confirms your acceptance of our updated Privacy Policy.</p>

                <h2>Contact us</h2>
                <p>Contact us with any questions or requests at:</p>
                <p><strong><a class="btn btn-info" href="mailto:privacy@bssb.app">📧 privacy@bssb.app</a></strong></p>

            </div>

        </div>
    </main>
{% endblock %}