{% extends "_base.twig" %}

{% set pageTitle = 'Statistics' %}
{% set tab = "stats" %}

{% block main %}
    <main role="main" class="container-fluid">
        <div class="content-page">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Server Browser</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Stats</li>
                </ol>
            </nav>

            <div class="stats-page">

                <h1>Statistics</h1>
                <p class="lead">Just for fun - statistics on games hosted on the server browser.</p>
                <hr />

                <div class="metrics">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="card-subtitle mb-2 text-muted">
                                        <i class="mdi mdi-account-star"></i>
                                        Unique hosts seen
                                    </h6>
                                    <div class="help" data-toggle="tooltip" data-placement="bottom" data-html="true"
                                         title="Tally of unique player hosts we've seen, since the mod launched in Nov 2020.">
                                        <i class="mdi mdi-help-circle"></i>
                                    </div>
                                    <span class="stat-value">{{ stats.uniqueHostCount|number_format(0, ',') }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="card-subtitle mb-2 text-muted">
                                        <i class="mdi mdi-account-star"></i>
                                        Unique players seen
                                    </h6>
                                    <div class="help" data-toggle="tooltip" data-placement="bottom" data-html="true"
                                         title="Tally of unique player we've seen in shared games, since the player list launched in Jan-Feb 2021.">
                                        <i class="mdi mdi-help-circle"></i>
                                    </div>
                                    <span class="stat-value">{{ stats.uniquePlayerCount|number_format(0, ',') }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card" title="">
                                <div class="card-body">
                                    <h6 class="card-subtitle mb-2 text-muted">
                                        <i class="mdi mdi-music"></i>
                                        Unique levels seen
                                    </h6>
                                    <div class="help" data-toggle="tooltip" data-placement="bottom" data-html="true"
                                         title="Tally of unique levels we've seen in lobbies, including custom and official ones, since the mod launched in Nov 2020.">
                                        <i class="mdi mdi-help-circle"></i>
                                    </div>
                                    <span class="stat-value">{{ stats.uniqueLevelCount|number_format(0, ',') }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="card-subtitle mb-2 text-muted">
                                        <i class="mdi mdi-play"></i>
                                        Total games played
                                    </h6>
                                    <div class="help" data-toggle="tooltip" data-placement="bottom" data-html="true"
                                         title="Total amount of times a level was played in shared games, since 2021-01-15.">
                                        <i class="mdi mdi-help-circle"></i>
                                    </div>
                                    <span class="stat-value">{{ stats.totalPlayStat|number_format(0, ',') }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr />

                <section>
                    <h4>
                        <i class="mdi mdi-trophy"></i>
                        <span>Top 10 custom levels</span>
                    </h4>
                    <p class="lite">Based on total play count seen by the server browser.</p>
                    {% include "tables/top_levels_table.twig" with {levels: stats.topLevelsCustom} %}
                    <a href="/stats/top/custom-levels" class="btn btn-primary" target="_self" title="Top 100 Custom Levels">
                        <i class="mdi mdi-view-list"></i>
                        <span>View Top 100 &raquo;</span>
                    </a>
                </section>

                <hr />

                <section>
                    <h4>
                        <i class="mdi mdi-trophy"></i>
                        <span>Top 10 official levels</span>
                    </h4>
                    <p class="lite">Based on total play count seen by the server browser.</p>
                    {% include "tables/top_levels_table.twig" with {levels: stats.topLevelsOfficial} %}
                    <a href="/stats/top/official-levels" class="btn btn-primary" target="_self" title="Top 100 Official Levels">
                        <i class="mdi mdi-view-list"></i>
                        <span>View Top 100 &raquo;</span>
                    </a>
                </section>

            </div>

        </div>
    </main>
{% endblock %}