{% extends "_base.twig" %}

{% set tab = "stats" %}

{% block main %}
    <main role="main" class="container-fluid">
        <div class="content-page">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Server Browser</a></li>
                    <li class="breadcrumb-item"><a href="/stats">Stats</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ pageTitle }}</li>
                </ol>
            </nav>

            <div class="stats-page">

                <h1>
                    <i class="mdi mdi-trophy"></i>
                    <span>{{ pageTitle }}</span>
                </h1>
                <p class="lead">{{ pageDescr }}</p>
                <p class="stats-disclaim"><i class="mdi mdi-clock-outline"></i> These statistics are based on play count seen in public server browser games since January 2021.</p>
                <hr />

                {% if urlSection == "custom-levels" %}
                    <a class="btn btn-success" href="/stats/top/{{ urlSection }}/playlist" target="_self">
                        <i class="mdi mdi-download"></i>
                        <span>Download as Playlist (bplist)</span>
                    </a>
                {% endif %}

                <section>
                    {% include "tables/top_levels_table.twig" %}
                </section>

            </div>

        </div>
    </main>
{% endblock %}