{% extends "pages/game-detail.base.twig" %}

{% set gameDetailTab = "plays" %}

{% block innerContent %}

    {% if not isNowPlaying and paginator.pageIndex == 0 %}
        {# No history record for active level; render current level from game data on 1st page #}
        {% if level and game.getIsPlayingLevel() %}
            {% set isNowPlaying = 1 %}
            {% include "bits/level-history.twig" %}
        {% endif %}
    {% endif %}

    {% for historyItem in levelHistory %}
        {% include "bits/level-history.twig" with {level: historyItem} %}
    {% else %}
        {% if not isNowPlaying and paginator.pageIndex == 0 %}
            <div class="alert -minor">
                <i class="mdi mdi-motion-play-outline"></i>
                <strong>No levels played yet.</strong>
            </div>
        {% endif %}
    {% endfor %}

    {% include "bits/paginator.twig" %}

{% endblock %}