{% extends "pages/stats.base.twig" %}

{% set statsTab = "overview" %}

{% block innerContent %}
    <h1>Stats</h1>
    <p class="lead">The Server Browser tracks statistics for public games that were announced to it.</p>
    <div class="stats-cards">
        <div class="card">
            <div class="label"><i class="mdi mdi-sword-cross"></i> Levels played</div>
            <div class="metric">{{ stats.totalPlayCount|number_format(0, ',') }}</div>
            <div class="details">Total times a level was played in public lobbies</div>
        </div>
        <div class="card">
            <div class="label"><i class="mdi mdi-earth"></i> Lobbies hosted</div>
            <div class="metric">{{ stats.totalLobbyCount|number_format(0, ',') }}</div>
            <div class="details">Total lobbies announced to the server browser</div>
        </div>
        <div class="card">
            <div class="label"><i class="mdi mdi-emoticon-cool"></i> Players seen</div>
            <div class="metric">{{ stats.totalPlayerCount|number_format(0, ',') }}</div>
            <div class="details">The total amount of unique players we've seen</div>
        </div>
    </div>
    <section>
        <h2>
            <i class="mdi mdi-trending-up"></i>
            <span>Top trending levels</span>
        </h2>
        <p class="lite">🔥 These are the hottest levels right now, based on play count seen by the server browser.</p>
        {% include "tables/top_levels_table.twig" with {levels: stats.topLevelsTrending} %}
        <p class="lite"><br /><i class="mdi mdi-download"></i> Protip: You can download the top lists as a playlist (bplist) from their pages!</p>
        <a href="/stats/top/trending-levels" class="btn btn-primary" target="_self" title="Top 100 Trending Levels">
            <i class="mdi mdi-trending-up"></i>
            <span>View all trending levels &raquo;</span>
        </a>
        <a href="/stats/top/custom-levels" class="btn btn-secondary" target="_self" title="Top 100 Custom Levels">
            <i class="mdi mdi-trophy-variant"></i>
            <span>View all-time Top 100 &raquo;</span>
        </a>
    </section>
{% endblock %}
