header {
  position: relative;
  background: rgba(0, 0, 0, .25);
  backdrop-filter: blur(12px);
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, .1), 0 2px 2px rgba(0, 0, 0, .1);
  z-index: 100;
  user-select: none;

  &.-hero {
    border-bottom: 1px solid rgba(255, 255, 255, .1);
  }

  &, .container {
    height: 78px;
  }

  > .container {
    padding: 0 1rem;

    a {
      border-radius: 6px;
      padding: .5rem;
      user-select: none;
      cursor: pointer;
      text-shadow: 0 0 2px rgba(0, 0, 0, .1);
      text-decoration: none !important;

      &, * {
        transition: box-shadow .1s ease-out, color .1s ease-out;
      }
    }
    a:hover {
      box-shadow: inset 999px 999px 999px rgba(255, 255, 255, .05);
    }
    a:active {
      box-shadow: inset 999px 999px 999px rgba(0, 0, 0, .25);
    }

    .brand {
      flex-grow: 1;
      display: flex;
      align-items: center;
      text-decoration: none;
      height: 58px;

      img {
        margin-right: .75rem;

        @media all and (max-width: 999px) {
          margin-right: 0;
        }
      }
      .text {
        display: block;
        color: var(--col-txt-main);

        span {
          display: block;
          line-height: 1.35;
        }
        span:first-child {
          font-weight: var(--font-weight-medium);
          font-size: 1.6rem;
          color: var(--col-saber-left);
        }
        span:last-child {
          font-weight: var(--font-weight-bold);
          font-size: 1.8rem;
          color: var(--col-txt-main);
        }
      }
      .desktop-text {
        display: block;

        @media all and (max-width: 999px) {
          display: none;
        }
      }
    }
    .nav {
      flex-grow: 2;
      margin: 0 1.5rem;

      > a {
        margin: 0 .5rem;
        padding: 1rem 1.5rem;
        display: inline-flex;
        align-items: center;
        color: var(--col-txt-muted-light);

        i {
          display: inline-block;
          height: 2rem;
          width: 2rem;
          font-size: 1.8rem;
          margin-right: .75rem;
          color: var(--col-txt-muted);
        }

        &.-active {
          font-weight: var(--font-weight-bold);
          > i {
            color: var(--col-saber-right);
          }
          > span {
            color: var(--col-txt-main);
          }
        }

        &:hover {
          > i {
            color: var(--col-saber-left);
          }
          > span {
            color: var(--col-txt-main);
          }
        }

        @media all and (max-width: 999px) {
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          padding: 0 .15rem;

          i {
            margin: 0 0 1rem 0;
            font-size: 2.2rem;
          }
          span {
            font-size: 12px;
            font-weight: normal;
          }
        }
      }
    }
    .auth {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-grow: 1;

      a.profile-link {
        display: inline-flex;
        align-items: center;

        .face {
          margin: 0 1rem 0 0;

          @media all and (max-width: 1000px) {
            margin: 0;
          }
        }

        > span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 200px;

          @media all and (max-width: 1000px) {
            display: none;
          }
        }
      }
      a.steam-login {
        padding: .5rem 1.5rem;
        background-color: var(--col-blue);
        display: inline-flex;
        align-items: center;
        font-size: 1.4rem;
        font-weight: var(--font-weight-medium);
        color: var(--col-txt-main);

        i {
          display: inline-block;
          font-size: 2rem;
          margin-right: .75rem;
        }

        .text-desktop {
          display: block;
        }
        .text-mobile {
          display: none;
        }

        @media all and (max-width: 999px) {
          align-items: center;
          justify-content: center;
          flex-direction: column;
          text-align: center;

          i, span {
            padding: 0;
            margin: 0;
          }
          span {
            font-size: 12px;
          }
          .text-desktop {
            display: none;
          }
          .text-mobile {
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
}